<!DOCTYPE html>
<html
  lang="es"
  class="<%= typeof htmlClass !== 'undefined' ? htmlClass : 'h-full scroll-smooth' %>"
>
  <head>
    <%- include('./head') %>
    <title>
      <%= typeof title !== 'undefined' ? title : 'Amigo Invisible' %>
    </title>
    <% if (typeof description !== 'undefined') { %>
    <meta name="description" content="<%= description %>" />
    <% } %> <% if (typeof keywords !== 'undefined') { %>
    <meta name="keywords" content="<%= keywords %>" />
    <% } %> <% if (typeof robots !== 'undefined') { %>
    <meta name="robots" content="<%= robots %>" />
    <% } %> <% if (typeof canonicalUrl !== 'undefined') { %>
    <link rel="canonical" href="<%= canonicalUrl %>" />
    <% } %>
  </head>
  <body class="h-full flex flex-col">
    <% if (typeof includeHeader !== 'undefined' && includeHeader) { %> <%-
    include('./header') %> <% } %>
    <div
      class="flex-1 flex flex-col <%= (typeof includeHeader !== 'undefined' && includeHeader) ? 'pt-16' : '' %>"
    >
